.footer {
  background-color: black;
  color: azure;
  height: 715px;
}

.footer-div {
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-content: center;
  margin-left: 400px;
}

.p {
  grid-column: 2;
  margin-left: 300px;
  font-size: 3rem;
}

.texto {
  margin-top: 100px;
  text-align: start;
  font-size: 2rem;
}
.email {
  text-align: start;
  font-size: 3rem;
  position: relative;
  left: 300px;
  top: 200px;
}

.p,
.email {
  position: relative;
  bottom: 180px;
}

@media (max-width: 576px) {
  .footer {
    background-color: black;
    color: azure;
    margin-bottom: -30px;
  }
  .footer-div {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    margin-left: 200px;
  }
  .texto {
    margin-top: -250px;
    margin-left: -145px;
    text-align: normal;
    font-size: 2rem;
    grid-row: 1;
  }
  .email {
    font-size: 3rem;
    position: absolute;
    left: 60px;
    top: 1550px;
  }
  .p {
    position: absolute;
    top: 1611px;
    left: -240px;
  }
}
@media (max-width: 415px) {
  .footer {
    background-color: black;
    color: azure;
    margin-bottom: -30px;
  }
  .footer-div {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    margin-left: 200px;
  }
  .texto {
    margin-top: -250px;
    margin-left: -180px;
    text-align: normal;
    font-size: 1.7rem;
    grid-row: 1;
  }
  .email {
    font-size: 2rem;
    position: absolute;
    left: 20px;
    top: 1600px;
  }
  .p {
    position: absolute;
    top: 1650px;
    left: -280px;
    font-size: 2rem;
    margin-bottom: -100px;
  }
}

@media (max-width: 1440px) {
  .texto {
    margin-top: 200px;
    margin-left: -100px;
    font-size: 2rem;
  }
  .email {
    font-size: 3rem;
    position: relative;
    left: -450px;
    top: 400px;
  }
  .p {
    grid-column: 1/-1;
    box-sizing: border-box;
    margin-top: 280px;
    margin-left: -110px;
    font-size: 3rem;
  }
}
