.introduçao {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px auto;
  position: relative;
}

.introduçao img {
  width: 20%;
  margin-left: 300px;
}

.introduçao h1 {
  font-size: 6.5rem;
  flex-wrap: wrap;
  margin-right: 300px;
}

.introduçao .detalhe {
  width: 190px;
  position: absolute;
  left: 550px;
  top: 60px;
  z-index: -1;
}

.introduçao p {
  font-size: 1.2rem;
  color: #808080;
}

@media (max-width: 576px) {
  .introduçao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
  }
  .introduçao h1 {
    font-size: 2.8rem;
  }
  .introduçao img {
    width: 130px;
    margin-left: 300px;
  }
  .introduçao .detalhe {
    display: none;
  }
}

@media (max-width: 415px) {
  .introduçao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 120px;
  }
  .introduçao h1 {
    font-size: 2.2rem;
  }
  .introduçao img {
    width: 100px;
    margin-left: 305px;
  }
}

@media (max-width: 1440px) {
  .introduçao h1 {
    font-size: 4.5rem;
    margin-left: 500px;
  }
  .introduçao {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .introduçao img {
    width: 300px;
    margin-left: 455px;
  }
  .introduçao .detalhe {
    width: 120px;
    position: absolute;
    left: 300px;
    top: 60px;
    z-index: -1;
  }
  .introduçao p {
    margin-left: 500px;
  }
}
