.introduçao {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px auto;
  position: relative;
}

.introduçao img {
  width: 20%;
  margin-left: 300px;
}

.introduçao h1 {
  font-size: 5.4rem;
  flex-wrap: wrap;
  margin-right: 300px;
}

.introduçao .detalhe {
  width: 190px;
  position: absolute;
  left: 750px;
  top: 90px;
  z-index: -1;
}

.introduçao p {
  font-size: 1.2rem;
  color: #808080;
}

@media (max-width: 576px) {
  .introduçao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
  }
  .introduçao h1 {
    font-size: 2.8rem;
  }
  .introduçao img {
    width: 130px;
    margin-left: 300px;
  }
  .introduçao .detalhe {
    display: none;
  }
}

@media (max-width: 415px) {
  .introduçao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 120px;
  }
  .introduçao h1 {
    font-size: 2.2rem;
  }
  .introduçao img {
    width: 100px;
    margin-left: 305px;
  }
}
