.exp {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-left: 395px;
  margin-top: 100px;
  gap: 10px;
}

.exp .experiência-h2 {
  font-size: 7rem;
  text-transform: uppercase;
  line-height: 1;
  color: #111;
  letter-spacing: 10px;
  word-break: break-all;
  max-width: 4ch;
}
.exp strong {
  font-family: "Fira Sans";
}

.exp p {
  text-align: left;
  font-size: 1.5rem;
  font-family: sans-serif;
  margin-left: 30px;
}
@media (max-width: 576px) {
  .exp {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
  }
  .exp .experiência-h2 {
    font-size: 3rem;
    text-transform: uppercase;
    line-height: normal;
    color: #111;
    letter-spacing: normal;
    word-break: normal;
    max-width: max-content;
    padding-left: 30px;
    padding-top: 60px;
  }

  .exp p {
    text-align: left;
    font-size: 1.3rem;
    font-family: sans-serif;
    padding-left: 0px;
    padding-top: 30px;
  }
}
@media (max-width: 415px) {
  .exp {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
  }
  .exp .experiência-h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: normal;
    color: #111;
    letter-spacing: normal;
    word-break: normal;
    max-width: max-content;
    padding-left: 30px;
    padding-top: 60px;
  }

  .exp p {
    font-size: 1.6rem;
    font-family: sans-serif;
    padding-left: 0px;
    padding-top: 30px;
  }
}
